/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

.container {
  margin-top: "300px";
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 120px;
  grid-row-gap: 20px;
  .box {
    margin: "20px";
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
  }
}
